.container {
  padding: 1rem;
}

.container section {
  margin-bottom: 1rem;
}

.textSourceCard {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.otherSourceCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.autoWidthSection {
  width: fit-content;
}

.formRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chartLeaderboardInput {
  width: 320px;
}
