.lobbyState {
  margin-bottom: 1rem;
}

.cabSelects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cabSelects > * {
  flex: 0 1 240px;
}

.cabSelect select {
  min-width: 150px;
  padding-right: 30px;
}

.lobbyPlayerSuggest {
  display: block;
  margin-top: 4px;
}

.stepStatsButton {
  text-align: center;
  margin-top: 4px;
}

.playersTable th.poolsResultsCell {
  text-align: center;
}

.playersTable {
  border-collapse: collapse;
  border-style: hidden;
}

.playersTable th,
.playersTable td {
  border: 1px solid currentColor;
  padding: 4px 8px;
}

.playersTable th:first-child,
.playersTable td:first-child {
  border-left: none;
}

.playersTable th {
  text-align: left;
}

.submitCell {
  text-align: right;
}

.playersTable td.resetSongsColumn {
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.songHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.scoreCell {
  text-align: right;
  font-family: monospace;
}

.rowActions {
  display: flex;
  align-items: center;
  gap: 4px;
}

.entrantSuggest {
  flex: 1;
}

.currentScoreGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
}
