@font-face {
  font-family: "FOT-Rodin Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/font/FOT-Rodin Pro UB.otf") format("opentype");
}

@font-face {
  font-family: "Chiaro Std";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/font/chiarostd_b.otf") format("opentype");
}

.canvas {
  width: 3840px;
  height: 2160px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
