
.background {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #2C55FD;
  background-image:
    radial-gradient(circle, rgba(255, 255, 255, 0.12) 4px, rgba(255, 255, 255, 0.03) 8px, transparent 12px),
    radial-gradient(circle, rgba(255, 255, 255, 0.12) 4px, rgba(255, 255, 255, 0.03) 8px, transparent 12px);
  background-size: 70px 108px;
  background-position: 0 0, 35px 54px;
}
